<table style="margin-top:-22px;margin-left:0px;border-collapse:collapse;width:239px;">
	
	<% @locations.each_with_index do | location, i |%>
		<tr id="current_row<%= location.id.to_s %>">
			<td style="width:30px;">
				<% @found = false %>
				<% @checkins.each do |checkin| %>
					<% if Locations.find(checkin.location_id).id == location.id %>
						<img style="width:22px;padding:1px;" src="/images/check.png" />
						<% @found = true %>
					<% end %>
				<% end %>
				<% unless @found %>
					<img style="width:22px;padding:1px;" src="/images/not_check.png" />
				<% end %>
			</td>
			<td style="padding-left:6px;padding-top:3px;">
				<%= location.name + "<br>" %>
			</td>
		</tr>
	<% end %>
	
	<script language="javascript" type="text/javascript">
		document.getElementById("current_row<%= @current_location_id%>").style.background = "#e5f8ff";
	</script>
	
	<% if @checkins.count == 8 %>
	
		<div style="position:absolute;margin-top:40px;margin-left:30px;background-color:#ffffff;padding:20px;border:5px solid #333">
			<h1>WINNER!</h1> 
		</div>
	<% end %>
</table>