<table style="margin-top:-22px;margin-left:0px;border-collapse:collapse;width:239px;">
	
	<% @locations.each do |location| %>
		<tr id="current_row<%= location.id.to_s %>">
			<td style="width:30px;">
				<% if location.users.exists?(current_user) %>
					<img style="width:22px;padding:1px;" src="/images/check.png" />
				<% else %>
					<img style="width:22px;padding:1px;" src="/images/not_check.png" />
				<% end %>
			</td>
			<td style="padding-left:6px;padding-top:3px;">
				<%= location.name + "<br>" %>
			</td>
		</tr>
	<% end %>
	
	<script language="javascript" type="text/javascript">
		document.getElementById("current_row<%= @location.id%>").style.background = "#e5f8ff";
	</script>
</table>